@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-slow {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {
  padding-top: 50px;

  background: var(--color-background-bright);
}

@media (min-width: 1200px) {
  body {
    padding-bottom: 20px;
    padding-top: 20px;

    background: var(--color-background-darker);
  }
}

.g-a {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px 5px;

  background: var(--color-background-dark);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media (min-width: 1200px) {
  .g-a {
    margin: 0 auto;
    padding: 20px;
    width: 1200px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.g-a_c-c {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
}

.g-a_c-c > canvas {
  display: block;
  margin: 0 auto;

  background: var(--color-background-darker);
  border-radius: 10px;
}

.g-a_d {
  position: absolute;
  top: 15px;
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;

  color: var(--color-text-dark);
}

@media (min-width: 1200px) {
  .g-a_d {
    position: relative;
    top: 0;
    margin-top: 0;
    margin-bottom: 20px;

    color: var(--color-text-bright);
  }
}

.g-a_d_p {
  margin: 0;

  font-family: var(--font-mono);
  font-size: 18px;
}

.g-a_d_p.g-a_d_p-l {
  font-size: 26px;
}

.g-a_p-b {
  align-self: center;
  margin-top: 20px;
  padding: 10px 40px;

  background: var(--color-accent-primary);
  border: none;
  border-radius: 10px;
  color: var(--color-background-dark);
  font-size: 24px;
  font-weight: bold;
}

.g-a_p-b:hover {
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 30%);
  cursor: pointer;
}

.s {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin-top: -50px;

  background: var(--color-background-dark);
}

.s_l {
  margin: 0;

  color: var(--color-accent-primary);
  font-size: 72px;
  text-align: center;

  animation: fade-in 1s ease-in;
}

.s_l_s {
  display: block;

  font-size: 58px;

  animation: fade-in-slow 1.5s ease-in;
}

.s_m {
  text-align: center;

  color: var(--color-text-bright);
}

.s_s-b {
  align-self: center;
  padding: 10px 40px;

  background: var(--color-accent-primary);
  border: none;
  border-radius: 10px;
  color: var(--color-background-dark);
  font-size: 24px;
  font-weight: bold;
}

.s_s-b:hover {
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 30%);
  cursor: pointer;
}
