@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-in-slow {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

body {
  padding-top: 50px;

  background: var(--color-background-bright);
}

@media (min-width: 1200px) {
  body {
    padding-bottom: 20px;
    padding-top: 20px;

    background: var(--color-background-darker);
  }
}

.game-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px 5px;

  background: var(--color-background-dark);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

@media (min-width: 1200px) {
  .game-area {
    margin: 0 auto;
    padding: 20px;
    width: 1200px;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.game-area__canvas-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  width: 100%;
}

.game-area__canvas-container > canvas {
  display: block;
  margin: 0 auto;

  background: var(--color-background-darker);
  border-radius: 10px;
}

.game-area__data {
  position: absolute;
  top: 15px;
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;

  color: var(--color-text-dark);
}

@media (min-width: 1200px) {
  .game-area__data {
    position: relative;
    top: 0;
    margin-top: 0;
    margin-bottom: 20px;

    color: var(--color-text-bright);
  }
}

.game-area__data__point {
  margin: 0;

  font-family: var(--font-mono);
  font-size: 18px;
}

.game-area__data__point.game-area__data__point--level {
  font-size: 26px;
}

.game-area__pause-button {
  align-self: center;
  margin-top: 20px;
  padding: 10px 40px;

  background: var(--color-accent-primary);
  border: none;
  border-radius: 10px;
  color: var(--color-background-dark);
  font-size: 24px;
  font-weight: bold;
}

.game-area__pause-button:hover {
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 30%);
  cursor: pointer;
}

.splash {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: calc(100% + 50px);
  width: 100%;
  margin-top: -50px;

  background: var(--color-background-dark);
}

.splash__start-button {
  align-self: center;
  padding: 10px 40px;

  background: var(--color-accent-primary);
  border: none;
  border-radius: 10px;
  color: var(--color-background-dark);
  font-size: 24px;
  font-weight: bold;
}

.splash__start-button:hover {
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 30%);
  cursor: pointer;
}

.splash__logo {
  margin: 0;

  color: var(--color-accent-primary);
  font-size: 72px;
  text-align: center;

  animation: fade-in 1s ease-in;
}

.splash__logo__sub {
  display: block;

  font-size: 58px;

  animation: fade-in-slow 1.5s ease-in;
}
