*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--font-sans);
}

@media (max-width: 1200px) {
  .desktop-only {
    display: none;
  }
}
